@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@font-face{
    font-family: "custom1";
    src: url(/fonts2/HelveticaNeueCyr\ Light.ttf);
}
:root{
    --main-color: white;
    --main-font: "Poppins", sans-serif; 
    --second-font: "Syne", sans-serif;
    --third-font: "Rubik", serif;
    --navbar-color: #727272;
    --background: rgb(22,25,52)
    
}
.marquee{
    background-color: #000000;
    cursor: pointer;
    margin-top: 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;

  }
  
  .marquee .scroll{
    width: 100%;
    display: flex;
  }
  .marquee .scroll div{
    color: #ffffff;
    font-family: var(--second-font);
    font-size: 90px;
    white-space: nowrap;
    font-weight: 500;
    animation: animate-marquee 80s linear infinite;
    animation-delay: -40s;
  }
  .marquee h3{
    font-size: 50px;
    font-family: var(--second-font);
  }
  .marquee .scroll div:nth-child(2){
    animation: animate-marquee-2 80s linear infinite;
    animation-delay: -80s;
  }
  .marquee .scroll div .category{
    padding: 20px 30px;
  }
  .category{
    color: #ffffff;
    font-size: 35px;
    font-weight: 600!important;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
    font-family: sans-serif;
  }
  .category a{color:#252525;text-decoration: none;}
  
  /*Responsive marquee*/
  @media (max-width:767px){
    .category{font-size: 25px;}
    .marquee .scroll div{font-size: 25px;}
  }
  
  @keyframes animate-marquee{
    0%{
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    100%{
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  
  @keyframes animate-marquee-2{
    0%{
      -moz-transform: translateX(0%);
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
    100%{
      -moz-transform: translateX(-200%);
      -webkit-transform: translateX(-200%);
      transform: translateX(-200%);
    }
  }

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--main-font);
    background-color: #eceee8;
}
.white-back{
    background-color: #eceee8;
    padding-bottom: 2rem;
}
.navbar {
    max-width: 1240px;
    margin: 10px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px solid rgb(207, 207, 207);
    border-radius: 50px;
}
.text-logo {
    font-size: 32.44px;
    font-family: var(--second-font);
    font-weight: 500;
    margin-left: 40px;
}
.dot {
    color: red;
    transition: ease-in-out 0.5s;
}
.dot:hover {
    color: rgb(114, 114, 114);
}
.info {
    font-style: italic;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
.info:hover {
    color: rgb(255, 126, 126);
}
.container-menu {
    display: none;
    cursor: pointer;
}
.menuIcon {
    display: none;
}
.navbar-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}
.navbar-ul li {
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar-ul li a {
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: 400;
    color: #000000;
    transition: ease-in-out 0.3s;
    padding: 1rem;
    font-size: 18px;
}
#resume_button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(58, 58, 58);
    font-weight: 600;
    font-size: 16px;
    font-family: var(--second-font);
    color: white;
    transition: ease-in-out 0.3s;
    border-radius: 25px;
}
#resume_button:hover {
    background-color: rgb(158, 158, 158);
    color: white;
}
.navbar-ul li:nth-child(1) a:hover {
    background-color: rgb(187, 187, 187);
    color: #ffffff;
}
.navbar-ul li:nth-child(2) a:hover {
    background-color: rgb(187, 187, 187);
    color: #ffffff;
}
.navbar-ul li:nth-child(3) a:hover {
    background-color: rgb(58, 58, 58);
    color: white;
}
.mobile-menu {
    background: #eceee8;
    position: absolute;
    left: 0;
    top: 45px;
    margin-top: 20px;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}
.mobile-menu.active {
    max-height: 200px; /* Adjust this value based on the height of your menu */
}
.mobile-menu ul {
    list-style: none;
    padding: 5px;
    transition: ease-in-out 0.3s;
}
.mobile-menu ul li {
    padding: 10px;
}
.mobile-menu ul a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}
.mobile-menu ul li:hover {
    color: white;
    background-color: rgb(177, 177, 177);
    width: 100%;
}
.hero-h1 {
    display: flex;
    justify-content: center;
    max-width: 1240px;
    margin: 100px auto;
    align-items: center;
    text-align: center;
    min-height: 100px;
}
.hero-text {
    font-family: var(--second-font);
    font-size: 90px;
    width: 100%;
    padding: 0px 16px;
}
.hero-highlights {
    background-color: #f59999; 
}
.hero-highlights-blue {
    transition: ease-in-out 0.2s;
}
.hero-highlights-yellow {
    transition: ease-in-out 0.2s;
}
.hero-highlights-blue:hover{
    background-color: #0277BD;
    cursor: pointer;
}
.hero-highlights-yellow:hover{
    background-color: #fffb00;
    cursor: pointer;
}
.container-about{
    position: relative;
    border-radius: 40px;
    padding: 2rem 1rem;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    min-height: 90px;
    background-color: #19191b;
    color: #dadada;
}
#resume-button{
   display: inline-block;
   width: 50%;

}
#resume-button a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 1rem 3rem;

    text-decoration: none;
    background: #f7f7f7;
    font-weight: 400;
    font-size: 16px;
    margin-top: auto;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}
#resume-button a:hover{
    background-color: #f59999; /* Darker background on hover */
    transform: scale(1.05);
    padding: 1rem 4rem;
    color: #eceee8;

}
.resume-info{
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}
#resume{
    
    color: #000000;
    transition: ease-in-out 0.5s;
}
#about-h1{
    font-size: 32px;
}
.container-about p{
    font-size: 16px;

}
.about-info{
    width: auto;
    line-height: 30px;
    font-size: 13px;
    opacity: 0.8;
}
.about-yoy{
    gap: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 0rem 2.5rem 0rem 0rem;
}
.yoy-pic{
    position: absolute;
    right: 0%;
    top: -20%;
    z-index: -1;
    width: 600px;
    height: auto;
}
.yoy-pic-info{
    height: auto;
    width: 100%;

}
.icons{
    margin-bottom: 24px;
}
.icons a{
    text-decoration: none;
}
#github{
    font-size: 31px;
    margin-right: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: #dadada;
}
#linkedin{
    font-size: 31px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: #dadada;
    
}
#github:hover, #linkedin:hover{
    color: rgb(95, 95, 95);
    
}
.tech_stack{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
}
.tech_icons{
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 15px;
    margin-top: 8px;
}
#html{
    color: #E65100;
    margin-right: 8px;
}
#css{
    color: #0277BD;
    
}
.work_section{
    max-width: 1240px;
    margin: 50px auto;
    padding: 0px 16px;
    border-radius: 1rem;
    padding: 2rem 1rem;
}
#graphics-section{
    max-width: 1240px;
    margin: 50px auto;
    padding: 0px 16px;
}
#photoshop{
    width: 70px;
    height: 70px;
}
.work_section_body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work_h1{
    font-size: 70px;
    font-weight: 100;
}
.work_h3{
    font-size: 30px;
    font-weight: 200;
}
.work_section_card_h1{
    font-size: 30px;

}
.work-section-card-hori{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 0rem;
    align-items: center;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;

}
.work-section-card-hori-res{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.work-section-image-personal{
    width: 100%;
    object-fit: cover;
}
.work-section-image-links{
    width: 100%;
}
.work-section-information{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.work-section-information p{
    opacity: 0.8;
    line-height: 30px;
    font-size: 1rem;
    width: 80%;
}
.work-section-number h3{
    font-weight: 300;
}
#rizalll{
    width: 100%;
}
#personal{
    width: 100%;

}
#linktree{
    width: 100%;
}
.works-h1{
    font-size: 2rem;
    font-weight: 400;
}
#ext{
    width: 20px;
    height: auto;
    opacity: 0.7;
}
.work-section-buttons{
    display: flex;
    flex-direction: row;

}
.work-section-buttons a {
    text-decoration: none;
    font-size: 16px;
    color: #252525;
    font-weight: 200;
    transition: ease-in-out 0.2s;
}
.work-section-buttons a:hover {
    color: #f59999;
    
}
.work_section_card{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 450px;
    padding: 1.5rem;
    gap: 1.5rem;
    justify-content: space-between;
    box-shadow: 0px 1px 0px 0px rgba(80, 80, 80, 0.5);

}
.work_section_card_2{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: 450px;
    padding: 1.5rem;
    gap: 1.5rem;
    box-shadow: 0px 1px 0px 0px rgba(80, 80, 80, 0.5);

}
.work_section_graphs{
    max-width: 1240px;
    margin: 50px auto;
    padding: 0px 16px;
    border-radius: 1rem;
    padding: 2rem 1rem;
    background-color: #f6f6f6;
}
.work_section_card_img{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    width: 400px;

}
.work-section-graphs-body{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;

}
.work-section-graphs-body-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    width: 580px;
}
.graphs-info{
    padding: 0rem 1rem;
}
.graphs-info{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.graphs-info h1{
    font-size: 30px;
    font-weight: 400;
}
.graphs-info a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: .75rem 1.2rem;
    border: .0625rem solid white;
    border-radius: 3.75rem;
    width: 170px;
    transition: ease-in-out 0.3s;
}
.graphs-info a:hover{
    color: rgb(0, 0, 0);
    background-color: #f59999;
    border: 1px solid #f59999;
}
.work-section-image-cover{
    width: 100%;
    height: auto;
   
    
}
.work-section-graphs-body-card{
    background-color: #1c1b20;
    border-radius: 30px;
    padding-bottom: 2rem;
    

}
#pizzas{
    width: 100%;
    border-radius: 30px;
    
}
.rizal_pic{
    width: 100%; /* Stretch the image to fit the div's width */
    height: auto; /* Maintain the aspect ratio */
}
.rizal_info{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    opacity: 0.8;
}
.rizal_info h5{
    opacity: 0.5;
}
.personal_info{
    margin-top: 16px;
    opacity: 0.8;
    line-height: 30px;
}
.work_section_card_text{
    width: 100%;
    flex-grow: 1;
}
.work_section_card_button button{
    padding: 15px 15px;
    cursor: pointer;
    background-color: #263238;
    border: none;
    color: #ffffff;
    transition: 0.4s ease-in-out;
    margin-right: 16px;
    text-decoration: none;
}
.work_section_card_button a{
    text-decoration: none;
}
.work_section_card_button button:hover{
    background-color: rgb(177, 177, 177);
}
.work_section_card_button #live_green:hover{
    background-color: green;

}
.graphics_section_card_button button{
    padding: 15px 15px;
    cursor: pointer;
    background-color: #480331;
    border: none;
    color: #ffffff;
    transition: 0.4s ease-in-out;
    margin-right: 16px;
    text-decoration: none;
}
.graphics_section_card_button a{
    text-decoration: none;
}
.graphics_section_card_button button:hover{
    background-color: rgb(177, 177, 177);
}
.graphics_section_card_button #live_green:hover{
    background-color: green;

}
.lets_talk{
    max-width: 1240px;
    margin: 50px auto;
    padding: 0px 16px;
    display: flex;
    flex-direction: space-between;
    gap: 1.5rem;
    padding: 0px 16px;
}
.lets_talk_card{
    width: 100%;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;

}
.lets_talk_card_padding{
    border-right: 1px solid #ccc;
    padding-right: 6rem;


}
.lets_talk_card_h1{
    font-weight: 400;

}
.row_1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}
.row_1 input{
    padding: 0.5rem;
    border: none;
    outline: none;

}
.row_2{
    margin-top: 16px;

}
.row_2 input{
    padding: 0.5rem;
    border: none;
    outline: none;
    width: 100%;
}
.row_3{
    margin-top: 16px;
 

}
.row_3 input{
    border: none;
    padding: 0.5rem;
    outline: none;
    width: 100%;
    background-color: #fefefe;
    height: 20vh;

}
.row_4{
    margin-top: 16px;
}
.row_4 button{
    cursor: pointer;
    color: #fdfdfd;
    background-color: #333333;
    border: .0625rem solid rgb(255, 255, 255);
    padding: .75rem 1.2rem;
    border-radius: 3.75rem;
    transition: 0.4s ease-in-out;
    margin-right: 16px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.row_4 button:hover{
    background-color: #f59999
}
.lets_talk_card_2{
    display: flex;
    align-items: center;
    padding: 1.5rem;
}
.lets_talk_card_padding_2{
    padding-left: 5rem;
}
.lets_talk_card_info{
    width: 90%;
}
.footer{
    color: #fefefe;
    text-align: center;
    font-family: var(--main-font);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 2px;
    padding: 3rem 2rem;
    background-color: #000000;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.logo-footer{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
}
.logo-footer a {
    text-decoration: none;
    color: #fdfdfd;
    border: .0625rem solid rgb(255, 255, 255);
    padding: .75rem 1.2rem;
    border-radius: 3.75rem;
    transition: ease-in-out 0.3s;
}
.logo-footer h1{
    font-weight: 400;
}
.logo-footer a:hover{
    background-color: #f59999;
    border: 1px solid #f59999;
    color: rgb(2, 2, 2);
}
.footer_h1{
    font-size: 15px;
    font-weight: 200;
}
.Icons{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    cursor: pointer;
}
.Icons i {
    font-size: 1.2rem;
    transition: ease-in-out 0.3s;
}
.Icons i:hover{
    color: rgb(108, 108, 108);
}
@media screen and (max-width: 974px) {
    .hero-text {
        font-size: 55px;
        margin: 1rem;
    }
    .navbar {
        margin-right: 110px;
    }
    .about-yoy{
        padding: 0rem;
    }
    .container-about{
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;

    }
    .container-about::before {
        content: ""; /* Required for pseudo-elements */
        position: absolute; /* Position it absolutely within the container */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(images/yoy.png); /* Use the same background image */
        background-repeat: no-repeat;
        background-size: cover; /* Ensure the image covers the entire area */
        opacity: 0.2; /* Adjust this value for desired opacity (0.0 to 1.0) */
        z-index: 0; /* Place it behind the text */
    }
    
    .container-about > * {
        position: relative; /* Ensure text is above the pseudo-element */
        z-index: 1; /* Bring text above the background */
    }
    .work-section-information p {
        width: 100%;
    }
    .work-section-card-hori-res{
        display: flex;
        flex-direction: column;

    }
    .work-section-card-hori{
        display: flex;
        align-items: flex-start;


    }
    .yoy-pic{
        display: none;
    }
    .yoy-pic-info{
        margin-top: 2rem;
        width: 70%;
        padding-bottom: 16px;

    }
    .about-info{
        width: auto;
        
    }
    .about-yoy{
        margin: 0px;
        width: 90%;
    }
    .resume-info{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 16px;
    }
    #about-h1{
        font-size: 35px;
        margin: 0px;
        border-bottom: 1px solid #263238;
        padding-bottom: 8px;
    }
    .tech_h1{
        font-size: 35px;
    }
    .tech_stack{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .work_section{
        display: flex;

        flex-direction: column;
        justify-content: center;
    }
    .work_section_body{
        display: flex;
        justify-content: center;
    }
    .work_section_card, .work_section_card_2{
        margin-top: 24px;
        width: 100%;
    }
    .work_section_card_img {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        width: 100%;
    }
    .lets_talk{
        display: flex;
        flex-direction: column;
        padding: 16px;
        justify-content: center;
        align-items: center;

    }
    .lets_talk_card_padding{
        border-right: none;
    }
    .lets_talk_card_2{
        width: 100%;
    }
    .lets_talk_card_padding_2{
        padding-left: 0;
    }
    .lets_talk_card_info{
        text-align: center;
    }
    #resume-button{
        position: static;
    }
}
@media screen and (max-width: 541px) {
    .navbar-ul {
        display: none;
    }
    .navbar {
        padding: 6.5px;
        border: none;
    }
    .text-logo {
        font-size: 22.44px;
    }
    .container-menu {
        display: block;
        visibility: visible;
        margin-right: 20px;
    }
    .mobile-menu {
        top: 31px;
    }
    .mobile-menu-ul li a{
        font-size: 18px;
        margin-left: 30px;
        
    }
    .footer h1{
        font-size: 14px;
    }
    .mobile ul li button{
        color: white;
    }
    #resume{
        color: white
    }
    .work_h1 {
        font-size: 50px;
        font-weight: 100;
    }
}
@media screen and (max-width: 793px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
@media screen and (max-width: 592px) {
    .work-section-information p{
        font-size: 14px;

    }
    .work-section-buttons a{
        font-size: 14px;

    }
    .work-section-number h3{
        font-family: 14px;
    }
    .graphs-info a {
        font-size: 14px;
    }
    .work_h3{
        font-size: 25px;
    }
    #resume-button a{
        font-size: 14px;
        padding: 0.5rem 2rem;
    }
    #github{
        font-size: 25px;
    }
    #linkedin{
        font-size: 25px;
    }
    .hero-h1 {
        margin: 50px auto;
    }
    .hero-text {
        font-size: 40px;
        width: 70%;
        line-height: 3rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    #dot{
        display: none;
    }
    .container-about p{
        font-size: 14px;
    }
    .yoy-pic-info{
        width: 70%;
        margin: 0 auto;
    }
    .rizal_info , .personal_info{
        font-size: 14px;
    }
}
@media screen and (max-width: 531px) {
    .row_1 input{
        width: 100%;
    }
    .lets_talk_card_padding{
        padding: 0;
    }



@media screen and (max-width: 475px) {
    .work_section_card_img{
        width: 100%;
    }
}
@media screen and (max-width: 364px) {
    .container-about p{
        line-height: 21px;
        width: 100%;
    }
    .hero-h1 {
        margin: 40px auto;
    }
    .hero-text {
        font-size: 34px;
        line-height: 3rem;
    }
    .hero-h1 {
        margin: 20px 10px;
    }
    .yoy-pic-info{
        width: 75%;
        margin: 0 auto;
    }
    .footer h1{
        font-size: 12px;
    }
    
}
}
